<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="index :: head"></head>
<body class="bg-dark">
  <div class="container">
    <div class="row">
	  <div class="col-md-12">
	    <div th:replace="index :: navbar"></div>
		<form class="cv-form p-2" method="post" th:object="${cvItem}" th:action="@{/backstage/newItem}">
		  <div class="mb-3">
		    <label for="period" class="form-label">Période</label>
		    <input type="text" class="form-control" th:field="*{period}" aria-describedby="period" required>
		    <div id="period" class="form-text">Ex: 2019 ou 2016-2018</div>
		  </div>
		  <div class="mb-3">
		    <label for="title" class="form-label">Titre</label>
		    <input type="text" class="form-control" th:field="*{title}" aria-describedby="title" required>
		  </div>
		  <div class="mb-3">
		    <label for="description" class="form-label">Description</label>
		    <textarea class="form-control" th:field="*{description}" aria-describedby="description" rows="5" required>
		    </textarea>
		  </div>
		  <div class="mb-3">
		    <label for="skills" class="form-label">Skills</label>
		    <textarea class="form-control" th:field="*{skills}" aria-describedby="skills" rows="3">
		    </textarea>
		  </div>
		  <div class="mb-3 form-check">
		    <input type="checkbox" class="form-check-input" th:field="*{type}">
		    <label class="form-check-label" for="type">Formation ?</label>
		  </div>
		  <button type="submit" class="btn btn-primary">Go!</button>
		</form>
		<div class="row no-gutters rounded my-1 customized-color text-center">
		  <div class="col-2 border-right border-secondary">Période</div>
		  <div class="col-7">Titre et description</div>
		  <div class="col-2 border-left border-secondary">Compétences</div>
          <div class="col-1 border-left border-secondary">Modif/Del</div>
		</div>
		<div th:each="item: ${cv}" class="row no-gutters rounded my-1 text-center" th:classappend="${item.type} ? 'bg-info': 'bg-light'">
		  <div class="col-2 border-right border-secondary" th:text="${item.period}"></div>
		  <div class="col-7">
		    <div class="border-bottom border-secondary" th:text="${item.title}"></div>
		    <div class="pt-auto" th:text="${item.description}"></div>
		  </div>
	  	  <div class="col-2 border-left border-secondary" th:text="${item.skills}"></div>
          <div class="col-1 border-left border-secondary fs-4">
          	<a th:href="@{'/backstage/edit-cv/edit-item/'+${item.id}+''}">E</a>
          	<a th:href="@{'/backstage/edit-cv/delete-item/'+${item.id}+''}">X</a>
          </div>
        </div>
      </div>
	</div>
  </div>
</body>
</html>